.App {
  text-align: center;
}


.h1, .title {
  font-family: 'Grand Hotel', cursive;
}
/*
.form {
  display: flex;
  flex-direction: row;
  margin: 5% 40%;
  align-self: center;
}


.holdingspace {
  display: flex;
  flex-direction: row;
  margin: 5% 30%;
  background-color: rgba(0,0,0,0.3);
  width: 800px;
  height: 500px;
  
}
*/
